* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  color: #393b40;
  font-family: 'Montserrat';
}

/*----------------------------------------*/
/*REUSABLE*/
/*----------------------------------------*/
.row1 {
  width: 570px;
  margin: 10px auto 0 auto;
  border: 2px solid #cbcbcb;
  padding: 20px;
  padding-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.row2 {
  width: 570px;
  margin: 0px auto 10px auto;
  border: 2px solid #cbcbcb;
  padding: 4px 20px 20px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  border-top: 0px;
}

.container {
  padding: 5px;
  border-radius: 5px;
}

/*----------------------------------------*/
/*HEADINGS*/
/*----------------------------------------*/
.row1 h2 {
  margin-top: 20px;
  font-weight: 400;
  text-align: left;
}

.row2 h2 {
  padding-top: 5px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 25px;
}

/*----------------------------------------*/
/*FORM*/
/*----------------------------------------*/
.tasks-input {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
}

input[type=text] {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #cbcbcb;
}

input[type=submit]{
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding: 7px 15px;
  font-size: 85%;
  color: #0c241e;
  background-color: #37d6ad;
  border-color: #37d6ad;
  border-radius: 5px;
  border: 0px;
}

/*----------------------------------------*/
/*TASKS LIST*/
/*----------------------------------------*/
.space {
  border-top: 2px solid #cbcbcb;
}

.tasks-list {
  padding: 7px;
  margin: 10px 0;
  list-style: none;
  border-radius: 5px;
  text-align: left;
  border: 2px solid #cbcbcb;
}

.delete-icon {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right: 10px;
  color: #dd803d;
}
/*----------------------------------------*/
/*CLEAR BUTTON*/
/*----------------------------------------*/

.clear-btn{
  display: inline-block;
  padding: 10px 10px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 20px;
  border :0px;
  background-color: #5fb7ed;
  text-align: left;
  color: #000000;

}

.left{
  text-align: left;
  text-weight: 800;
}

/*----------------------------------------*/
/*FILTER*/
/*----------------------------------------*/

.filter{
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
}
